@import "fonts.css"
@import "index-values"

@media only screen and (max-width:780px)
  body
    globalBody()
  #title_bar
    globalTitleBar()
    #title
      globalTitle()
    h1
      globalTitleBarH1(xx-large, 5px)
    h2
      globalTitleBarH2(large, 1px)
    aside
      globalContactInfo(right, medium, 0)
      contactBorderLeft()
    h4
      contactFormat()
      a#email
        contactEmail()
  #subtitle
    globalSubtitle(large, 10px)
  #content
    content()
    nav
      contentNav()
      img
        display none
      div
        globalNav()
        siteNav()
    article
      contentArticle()
    aside
      contentAside()
      div > h3
        contentAsideDivs()

  label
    label(medium)

  input
    inputs()
    inputSmall()

  input[type=submit]
    inputSubmit()

  a:link
    aLink()

  a:visited
    aLink()