@import url("fonts.css");
@import "index-values"

@media only screen and (max-width:680px)
  body
    globalBody()
  #title_bar
    xSmallTitleBar()
    #title
      xSmallTitle()
    h1
      xSmallTitleBarH1()
    h2
      xSmallTitleBarH2(large)
    aside
      globalContactInfo(center, large)
      xSmallContactMargins()
    h4
      contactFormat(medium)
      contactBorderLeft()
      a#email
        contactEmail()
  #subtitle
    globalSubtitle(large, 10px)

  #content
    content()
    nav
      contentNav()
      img
        display none
      div
        globalNav()
        siteNav()
    article
      contentArticle()
    aside
      contentAside()
      div > h3
        contentAsideDivs()

  form
    xSmallForm()

  label
    label(medium)

  input
    inputs()
    inputSmall()

  input[type=submit]
    inputSubmit()

  a:link
    aLink()

  a:visited
    aLink()