section.content
   header(onclick="over(this)", onmouseout="unZoom(this)")
      h1.category Bore Journal
   article
      p.hiddenDescription Create or continue a bore journal (ongoing bore) or convert an existing bore journal into a finalized bore log
      button#createBoreJournal(onmouseover="moveBackward(this)", onmouseout="moveForward(this)") Create
      button#continueBoreJournal(onmouseover="moveBackward(this)", onmouseout="moveForward(this)") Continue
      button#boreJournalToLog(onmouseover="moveBackward(this)", onmouseout="moveForward(this)") Convert