#Android
android/.idea
android/build
android/.gradle
android/gradle/
android/*.iml
android/gradlew
android/gradlew.bat
andriod/local.properties

#Ionic
ionic/.idea
ionic/node_modules/
ionic/platforms/
ionic/plugins/
ionic/www/lib/

#Nodejs
nodejs/node_modules
nodejs/www/lib
nodejs/.idea