<!DOCTYPE html><html ng-app><head><title>Angular</title><script src="javascripts/angular.js"></script></head><body id="body" ng-controller="MyController"><h1>Some Items</h1><div ng-repeat="item in items"><span>{{item.title}}</span><input ng-model="item.quantity"><span>{{item.price | currency}}</span><span>{{item.price * item.quantity | currency}}</span><button ng-click="remove($index)">Remove</button></div></body><script>function MyController($scope){
   $scope.items = [
      {title: "Item One", quantity: 10, price: 3.95},
      {title: "Item Two", quantity: 17, price: 12.95},
      {title: "Item Three", quantity: 5, price: 6.95}
   ];
   $scope.remove = function(index){
      $scope.items.splice(index, 1);
   }
}</script></html>