doctype
html
   head
      title Includes
      link(rel="stylesheet", href="./includes/include-style.css")
      script(src="javascripts/jquery-2.1.1.min.js")
   body
      #main
         img(src="images/bison_logo-web.png")
         include ../../public/includes/header
         p ... Here's something original
         footer
            include ../../public/includes/footer.html
         script(src="./includes/script.js")
         script.
            $(document).ready(function(){
               Included();
            });