@import "../../public/stylesheets/my-fonts.css";
/*@import "reset5.css";*/

body {
    margin: 0 auto;
}

#title_bar {
    display: flex;
    line-height: 1em;
}

#title_bar > #title {
    flex: 4;
    padding-left: 1%;
    margin-left: auto;
    background-color: lightgreen;
}

#title_bar h1 {
    color: red;
    text-align: left;
    font-size: xx-large;
    font-family: "Lintsec", sans-serif;
    text-shadow: 0 0 2px black;
    letter-spacing: 5px;
}

#title_bar h2 {
    color: red;
    text-align: left;
    font-size: large;
    font-family: "Lintsec", sans-serif;
    text-shadow: 0 0 2px black;
    letter-spacing: 5px;
}

#title_bar aside {
    background-color: lightskyblue;
    flex: 1;
    padding: 1%;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

#title_bar aside h4 {
    color: lightgray;
    text-shadow: 0 0 2px black;
    line-height: 1em;
    margin: 0;
    font-family: "Roboto-Bold", sans-serif;
    font-size: medium;
}

#subtitle {
    background-color: saddlebrown;
    line-height: 1em;
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: "Lintsec", sans-serif;
    letter-spacing: 5px;
    margin: 0;
    padding: 1%;
}

#content {
    display: flex;
}

#content nav {
    background-color: #0066ff;
    flex: 1;
}

#content nav li {

}

#content article {
    flex: 4;
    padding: 2%;
    text-align: justify;
    background-color: chocolate;
    margin: auto;
}

#content aside {
    flex: 1;
    padding: 1%;
    margin: 0 auto;
    text-align: left;
}



