html
   head
      title Inherit
      link(rel="stylesheet", href="stylesheets/style.css")
   body
      #content
         h1 This is in the extended file
         block bisonlogo
         h2 And this is also in the extended file
         block moretext