//
   Created by Clark on 12/16/2014.
doctype
html
   head
      title Login
   body
      form(action="login", method="get")
         label(for="firstName") First name
         input(type="text", name="firstName")
         //input(type="hidden", method="_method", value="get")
         label(for="lastName") Last name
         input(type="text", name="lastName")
         input(type="submit")
