//
   Created by Clark on 12/6/2014.
html
   head
      title #{title}
      link(rel="stylesheet", href="../stylesheets/style.css")
   body
      #content
         img(src="../images/add_server.png")
         h1 #{headerOne}
         p #{message}
