//
   Created by Clark on 12/6/2014.
html
   head
      title #{title}
      link(rel="stylesheet", href="stylesheets/style.css")
   body
      #content
         h1 #{headerOne}
         p #{message}
         img(src="images/add_server.png")
