@import "../my-fonts.css";

a:link {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
    opacity: .8;
}

/*Essential for ngHide element to remain visible through animation*/
.ng-hide, .ng-hide.add, .ng-hide-remove {
    display: block !important;
}

.baroid-body {
    -webkit-perspective: 50px;
}

/*Title Text class for Header Card directive*/
.title-text {
    text-align: right;
    font-family: Rough, "Times New Roman", sans-serif;
    font-weight: bolder;
}

.title-text-subtitle {
    color: red;
    text-align: right;
    font-family: Roboto-Light,  "Times New Roman", sans-serif;
    font-size: smaller;
    font-weight: bold;
}

/*Baroid logo*/
.baroid-logo {
    background-image: url("../../img/baroid-opacity40.png");
    background-repeat: no-repeat;
    background-position: right 100% top 50%;
}

/*Baroid Rough Text class*/
.baroid-rough-text {
    font-family: Rough, "Times New Roman", sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-transition-duration: 1s;
}

.baroid-rough-text:hover {
    color: #ffffff;
    background-color: darkgray;
    letter-spacing: 5px;
    -webkit-transform: translateZ(2px);
    -webkit-transition-delay: 250ms;
    -webkit-transition-duration: 1s;
}

.baroid-rough-text.activated {
    color: #ffffff;
    background-color: #767676;
    letter-spacing: 3px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    width: 99%;
    -webkit-transform: translateZ(0px);
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: .05s;
}

/*Baroid Item Divider class*/
.baroid-item-divider {
    font-family: Roboto-Light, "Times New Roman", sans-serif;
}

/*Baroid Error class*/
span.baroid-error {
    position: fixed;
    color: red;
    font-family: Roboto-Light, "Times New Roman", sans-serif;
    text-shadow: 0 0 2px red;
    font-size: small;
    opacity: 1;
    letter-spacing: 1px;
    -webkit-transition: .25s linear all;
}

span.baroid-error.ng-hide {
    opacity: 0;
    letter-spacing: normal;
}

/*Baroid Numeric Result directive*/
baroid-numeric-result {
    opacity: 1;
    -webkit-transition: .25s linear all;
}

baroid-numeric-result.ng-hide {
    opacity: 0;
}

/*Baroid Input Field class*/
.baroid-input-field {
    font-family: Roboto, "Times New Roman", serif;
    font-size: x-small;
    -webkit-transform: translateZ(0px);
    -webkit-transition-delay: 250ms;
    -webkit-transition-duration: 0.5s;
}

.baroid-input-field:hover {
    letter-spacing: 1px;
    -webkit-transform: translateZ(2px);
    -webkit-transition-delay: 250ms;
    -webkit-transition-duration: .5s;
}

.baroid-input-field:focus, .baroid-input-field.ng-dirty {
    font-family: Roboto-Light, "Times New Roman", sans-serif;
    letter-spacing: 2px;
    -webkit-transform: translateZ(2px);
    -webkit-transition-delay: 250ms;
    -webkit-transition-duration: .5s;
}

.baroid-input-field:not(:focus).ng-dirty {
    font-family: Roboto, "Times New Roman", serif;
    letter-spacing: 0;
    -webkit-transform: translateZ(2px);
    -webkit-transition-delay: 250ms;
    -webkit-transition-duration: .5s;
}

/*Baroid Floating Label class*/
@-webkit-keyframes noInput {
    0% {
        color: red;
    }
    50% {
        font-weight: bold;
        letter-spacing: 2px;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hasInput {
    0% {
        color: gray;
    }
    50% {
        letter-spacing: 1px;
    }
    100% {
        opacity: 1;
        letter-spacing: normal;
    }
}

span.input-label.baroid-floating-label {
    -webkit-animation: noInput 1s;
}

span.input-label.baroid-floating-label:not(.has-input) {
    -webkit-animation: noInput 1s;
}

span.input-label.baroid-floating-label.has-input {
    position: relative !important;
    -webkit-animation: hasInput 2s;
}

/*This is the Samsung Galaxy Note 3 landscape*/
@media screen and (max-width: 767px){

    .baroid-logo {
        background-image: url("../../img/baroid-opacity40.png");
        background-repeat: no-repeat;
        background-position: right 110% top 50%;
    }

}

/*This is the Samsung Galaxy Note 3 portrait*/
@media only screen and (max-width: 360px) {

    .baroid-logo {
        background-image: url("../../img/baroid-opacity40.png");
        background-repeat: no-repeat;
        background-position: right 170% top 50%;
    }
}