/*"General Info" prompt*/

/*An overlay used to position and contain the dialog box*/
#dialog_overlay {
    position: absolute;
    width: 100%;
    z-index: 10;
    opacity: 1;
    -webkit-transition-duration: 1.5s;
    -webkit-transform: translateZ(-1px);
}

/*The box*/
#dialog_box {
    position: fixed;
    left: 15%; right: 15%; top: 5%;
    width: 70%;
    z-index: 10;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    border-radius: 5px;
}

/*Unsure about this*/
#dialog_box > div {
    background: #fff;
    margin: 8px;
}

/*Contains the title*/
#dialog_box > div > #dialog_box_head {
    font-family: "Roboto-Bold", sans-serif;
    font-size: large;
    background: firebrick;
    padding: 10px;
    color: #ffffff;
}

/*Contains the prompt*/
#dialog_box > div > #dialog_box_body {
    background: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/*Contains the OK and Cancel buttons*/
#dialog_box > div > #dialog_box_foot {
    background: red;
    padding: 5px;
    text-align: center;
}

/*Prompt comes from HTML added by the JavaScript is custom-dialog-prompt.js*/
#prompt_value1 {
    padding: 10px;
    margin: 3px;
    width: 80%;
    font-family: "Roboto-Light", sans-serif;
    font-size: medium;
}

/*Ok and Cancel buttons*/
.dialog_button {
    width: 50%;
}

#dialog_overlay.gone {
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 1.5s;
    -webkit-transform: translateZ(-5px);
}