@import "my-fonts.css";
@-moz-keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes stopDrilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes stopDrilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes stopDrilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stopDrilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 1020px) {
  body {
    margin: 0;
    color: #fff;
    background-color: #fff;
    -moz-perspective: 100px;
    -ms-perspective: 100px;
    -webkit-perspective: 100px;
    perspective: 100px;
  }
  #title_bar {
    display: flex;
    line-height: 1em;
    background-color: #000;
  }
  #title_bar img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    height: 7%;
    width: 7%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
  }
  #title_bar img:hover {
    -webkit-animation: drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite;
    -moz-animation: drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite;
    -ms-animation: drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite;
    animation: drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  #title_bar img.unHovered {
    -webkit-animation: stopDrilling 1500ms linear 0s 1;
    -moz-animation: stopDrilling 800ms linear 0s 1, stopDrilling 1s linear 0s 1, stopDrilling 2s ease-out 0s 1;
    -ms-animation: stopDrilling 800ms linear 0s 1, stopDrilling 1s linear 0s 1, stopDrilling 2s ease-out 0s 1;
    animation: stopDrilling 800ms linear 0s 1, stopDrilling 1s linear 0s 1, stopDrilling 2s ease-out 0s 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  #title_bar #title {
    flex: 5;
    padding-left: 1.5%;
    background-color: #000;
  }
  #title_bar h1 {
    color: #f00;
    text-align: left;
    font-family: "Lintsec", sans-serif;
    text-shadow: 0 0 2px #ffa500;
    font-size: xx-large;
    letter-spacing: 5px;
  }
  #title_bar h2 {
    color: #fff;
    text-align: left;
    font-family: "Lintsec", sans-serif;
    font-size: x-large;
    letter-spacing: 1px;
  }
  #title_bar aside {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #000;
    flex: 2;
    padding: 1%;
    text-align: right;
    font-size: large;
    margin-right: 1%;
/*contactBorderLeft()*/
  }
  #title_bar h4 {
    line-height: 1em;
    margin: 0;
    font-family: "Roboto-Bold", sans-serif;
    font-size: medium;
  }
  #title_bar h4 a#email {
    color: #fff;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    text-decoration: none;
  }
  #subtitle {
    background-color: #ff0900;
/*border-top 1px solid orange*/
/*border-bottom 1px solid orange*/
/*background: -webkit-linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); */
/* For Safari 5.1 to 6.0 */
/*background: -o-linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); */
/* For Opera 11.1 to 12.0 */
/*background: -moz-linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); */
/* For Firefox 3.6 to 15 */
/*background: linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); */
/* Standard syntax */
    line-height: 1em;
    color: #fff;
    text-align: center;
    font-family: "Lintsec", sans-serif;
    margin: 0;
/*margin-bottom 1%*/
    padding: 1%;
    font-size: x-large;
    letter-spacing: 5px;
  }
  #menu-bar {
    text-align: center;
    display: block;
  }
  #menu-bar nav a {
    display: inline;
    font-family: "Roboto-Bold", sans-serif;
    float: left;
    text-decoration: none;
    background-color: #460100;
    border-top: 4px solid #000;
    color: #d3d3d3;
    width: 23%;
    padding: 1%;
  }
  #menu-bar nav a:hover {
    border-top: 4px solid #f00;
    color: #fff;
    text-shadow: 0 0 2px #fff;
/*font-size large*/
    box-shadow: 0px -5px 15px -5px #b22222;
  }
  #menu-bar img {
    display: none;
  }
  #content {
    clear: left;
    display: flex;
/*nav*/
/*display block*/
/*width 100%*/
/*margin-left auto*/
/*margin-right auto*/
/*contentNav()*/
/*a*/
/*display inline*/
/*float left*/
/*text-decoration none*/
/*background-color #b22222*/
/*border-top 2px solid #b22222*/
/*color #ffffff*/
/*width 20%*/
/*padding 1%*/
  }
}
/*img*/
/*display: none*/
/*contentImage()*/
/*div*/
/*globalNav()*/
/*siteNav()*/
aside#extras {
  display: none;
/*contentAside()*/
/*div > h3*/
/*contentAsideDivs()*/
}
label {
  color: #808080;
  padding: 1%;
  text-shadow: 0 0 2px #000;
  font-family: "RockSalt", sans-serif;
  font-size: large;
}
input {
  padding: 2%;
  margin-top: 4%;
}
input[type=submit] {
  border-radius: 4px;
  text-align: center;
  font-family: "Bookman", Georgia, "Times New Roman", serif;
  width: 50%;
}
/*a:link*/
/*aLink()*/
/*a:visited*/
/*aLink()*/
@-moz-keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes drilling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
