@media only screen and (min-width: 1010px) {
  #title {
    padding-left: 1.5%;
  }
  #title_bar h2 {
    font-size: x-large;
  }
  #subtitle {
    font-size: x-large;
    letter-spacing: 5px;
  }
}
@media only screen and (min-width: 1010px) and (max-width: 1009px) {
  #title {
    padding-left: 1%;
  }
  #title_bar h2 {
    font-size: large;
  }
  #subtitle {
    font-size: large;
    letter-spacing: 10px;
  }
}
@media only screen and (min-width: 1010px) and (max-width: 1009px) and (max-width: 760px) {
  #title {
    padding-left: 1%;
  }
  #title_bar h2 {
    font-size: large;
    font-family: reg-font-fam;
  }
  #subtitle {
    font-size: x-large;
    letter-spacing: 5px;
  }
}
