global-background-color = white
global-color = white
global-font-family = "Bookman", Georgia, "Times New Roman", serif
background-color-title = black
font-family-lintsec = "Lintsec", sans-serif
font-family-roboto = "Roboto-Bold", sans-serif
font-family-rocksalt = "RockSalt", sans-serif
color-titleBarH2 = white
color-subtitle = white
color-subtle-tint = #d3d3d3
color-gray = gray
color-red = red
color-firebrick = firebrick
text-shadow-firebrick = 0 0 2px firebrick
text-shadow-red = 0 0 2px red
text-shadow-orange = 0 0 2px orange
box-shadow-orange = -5px 5px 5px orange
background-color-aside = black
background-color-subtitle = #ff0900

@keyframes drilling
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

@keyframes stopDrilling
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)

globalBody()
  margin 0
  color global-color
  background-color global-background-color
  -moz-perspective 100px
  -ms-perspective 100px
  -webkit-perspective 100px
  perspective 100px

globalTitleBar()
  display flex
  line-height 1em
  background-color #000000

xSmallTitleBar()
  display block
  line-height 2em

globalImage()
  margin-top auto
  margin-bottom auto
  margin-left 1%
  height 7%
  width 7%
  -webkit-transition-duration 1s
  -moz-transition-duration 1s
  -ms-transition-duration 1s
  transition-duration 1s

globalImageHovered()
  -webkit-animation drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite
  -moz-animation drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite
  -ms-animation drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite
  animation drilling 700ms linear 0s 1, drilling 600ms linear 0s 1, drilling 500ms linear 0s 1, drilling 400ms linear 0s 1, drilling 300ms linear 0s 1, drilling 200ms linear 0s infinite
  -webkit-animation-fill-mode forwards
  -moz-animation-fill-mode forwards
  -ms-animation-fill-mode forwards
  animation-fill-mode forwards

globalImageUnHovered()
  -webkit-animation stopDrilling 1500ms linear 0s 1
  -moz-animation stopDrilling 800ms linear 0s 1, stopDrilling 1s linear 0s 1, stopDrilling 2s ease-out 0s 1
  -ms-animation stopDrilling 800ms linear 0s 1, stopDrilling 1s linear 0s 1, stopDrilling 2s ease-out 0s 1
  animation stopDrilling 800ms linear 0s 1, stopDrilling 1s linear 0s 1, stopDrilling 2s ease-out 0s 1
  -webkit-animation-fill-mode forwards
  -moz-animation-fill-mode forwards
  -ms-animation-fill-mode forwards
  animation-fill-mode forwards

globalTitle()
  flex 5
  padding-left 1.5%
  background-color background-color-title

xSmallTitle()
  padding 1%
  background-color background-color-title

globalTitleBarH1()
  color color-red
  text-align left
  font-family font-family-lintsec
  text-shadow text-shadow-orange
  font-size arguments[0]
  letter-spacing arguments[1]

xSmallTitleBarH1()
  color color-red
  text-align center
  font-size xx-large
  font-family font-family-lintsec
  text-shadow text-shadow-firebrick
  letter-spacing 5px

globalTitleBarH2()
  color color-titleBarH2
  text-align left
  font-family font-family-lintsec
  font-size arguments[0]
  letter-spacing arguments[1]

xSmallTitleBarH2()
  color color-titleBarH2
  text-align center
  font-size arguments[0]
  font-family font-family-lintsec
  letter-spacing 1px
  line-height 1em

globalContactInfo()
  margin-top auto
  margin-bottom auto
  background-color background-color-aside
  flex 2
  padding 1%
  text-align arguments[0]
  font-size arguments[1]
  margin-right arguments[2]

xSmallContactMargins()
  margin 1%

contactFormat()
  line-height 1em
  margin 0
  font-family font-family-roboto
  font-size arguments[0]

contactEmail()
  color global-color
  font-family global-font-family
  text-decoration none

contactBorderLeft()
  background: -webkit-linear-gradient(left, background-color-subtitle, #000000, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, background-color-subtitle, #000000, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, background-color-subtitle, #000000, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, background-color-subtitle, #000000, #000000); /* Standard syntax */
  border-left 1px solid background-color-subtitle
  border-radius 8px

globalSubtitle()
  background-color background-color-subtitle
  /*border-top 1px solid orange*/
  /*border-bottom 1px solid orange*/
  /*background: -webkit-linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); *//* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); *//* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); *//* For Firefox 3.6 to 15 */
  /*background: linear-gradient(0deg, #ff6c00, background-color-subtitle, #ff6c00); *//* Standard syntax */
  line-height 1em
  color color-subtitle
  text-align center
  font-family font-family-lintsec
  margin 0
  /*margin-bottom 1%*/
  padding 1%
  font-size arguments[0]
  letter-spacing arguments[1]

content()
  display flex

contentNav()
  flex 2
  background-color background-color-aside
  text-align center
  list-style-type none
  margin 1%

xXSmallContentNav()
  background-color background-color-aside
  text-align center
  list-style-type none
  margin 1%
  padding 1%

contentImage()
  height 100%
  width 85%
  border 1px solid red
  /*box-shadow box-shadow-orange*/

globalNav()
  background-color color-subtle-tint
  border-radius 4px
  padding 1%

siteNav()
  margin-top 3%
  width: 100%

xXSmallSiteNav()
  margin-top 1%
  width: 100%

contentArticle()
  flex 3
  padding 2% 4% 2% 4%
  text-align justify
  font-family global-font-family
  font-size medium
  background-color background-color-aside

xXSmallContentArticle()
  padding 2% 4% 2% 4%
  text-align justify
  font-family global-font-family
  font-size medium
  background-color background-color-aside

contentAside()
  flex 2
  padding 1%
  margin 0 auto
  text-align left

xXSmallContentAside()
  padding 1%
  margin 0 auto
  text-align center

contentAsideDivs()
  border 1px solid color-subtle-tint
  border-radius 4px
  padding 1%
  background-color aside-background-color
  font-family global-font-family
  text-shadow 0 0 2px black

xSmallForm()
  text-align center

label()
  color color-gray
  padding 1%
  text-shadow 0 0 2px black
  font-family font-family-rocksalt
  font-size arguments[0]

inputs()
  padding 2%
  margin-top 4%

inputSmall()
  width 75%

inputSubmit()
  border-radius 4px
  text-align center
  font-family global-font-family
  width 50%

aLink()
  text-decoration none
  color color-firebrick
  text-shadow text-shadow-red
  font-family global-font-family
  font-size medium