section.content
   header(onclick="over(this)", onmouseout="unZoom(this)")
      h1.category Create PDF
   article
      p.hiddenDescription Select a bore log file and create a PDF from that file
      button#createPDF(onmouseover="moveBackward(this)", onmouseout="moveForward(this)") Create