<!DOCTYPE html>
<html ng-app="baroidApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Baroid Calculator</title>
    <link rel="shortcut icon" href="img/baroid.png">

    <!-- css -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/my-fonts.css" rel="stylesheet">
    <link href="css/baroid/baroid.css" rel="stylesheet">
    <!--Dependency on another app's css NO GOOD!-->
    <link href="css/bison/style.css" rel="stylesheet">

    <!-- libs -->
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/datejs/build/date.js"></script>
    <script src="lib/jsPDF/dist/jspdf.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- my bison.js -->
    <script src="js/modules/baroid/baroid-app.js"></script>

    <!--Controllers-->
    <script src="js/modules/baroid/baroid-controllers/baroid-options-controller.js"></script>
    <script src="js/modules/baroid/baroid-controllers/baroid-pullback-controller.js"></script>
    <script src="js/modules/baroid/baroid-controllers/baroid-products-controller.js"></script>
    <script src="js/modules/baroid/baroid-controllers/baroid-annular-velocity-controller.js"></script>
    <script src="js/modules/baroid/baroid-controllers/baroid-conversion-controller.js"></script>

    <!--Constants-->
    <script src="js/modules/baroid/baroid-constants/baroid-constants.js"></script>

    <!--Directives-->
    <script src="js/modules/baroid/baroid-directives/baroid-header-card-directive.js"></script>
    <script src="js/modules/baroid/baroid-directives/baroid-hdd-pullback-directives/baroid-numeric-input-directive.js"></script>
    <script src="js/modules/baroid/baroid-directives/baroid-hdd-pullback-directives/baroid-numeric-result-directive.js"></script>
    <script src="js/modules/baroid/baroid-directives/baroid-hdd-pullback-directives/baroid-recommendation-note.js"></script>
    <script src="js/modules/baroid/baroid-directives/baroid-hdd-pullback-directives/baroid-extra-recommendation-note.js"></script>
    <script src="js/modules/baroid/baroid-directives/baroid-product-directive.js"></script>
    <script src="js/modules/baroid/baroid-directives/baroid-help-toggle-directive.js"></script>

    <!--Services-->
    <script src="js/modules/baroid/baroid-services/baroid-popup-service.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-estimated-fluid-volume-calculator.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-actual-pump-output-calculator.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-recommended-pullback-speed-calculator.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-pullback-values-factory.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-recommended-fluid-formation-calculator.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-additive-recommendation-fluid-formation-calculator.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-special-recommendation-fluid-formation-calculator.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-note-about-recommendations.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-hdd-pullback-services/baroid-contingency-notes-service.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-products-services/baroid-products-service.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-annular-velocity-services/baroid-annular-velocity-factory.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-annular-velocity-services/baroid-annular-velocity-calculator.js"></script>
    <script src="js/modules/baroid/baroid-services/baroid-conversion-services/baroid-convert.js"></script>

    <!--Values-->
    <script src="js/modules/baroid/baroid-values/baroid-option-values.js"></script>
    <script src="js/modules/baroid/baroid-values/baroid-pullback-values.js"></script>
    <script src="js/modules/baroid/baroid-values/baroid-annular-velocity-inputs.js"></script>
    <script src="js/modules/baroid/baroid-values/baroid-conversion-selections.js"></script>
    <script src="js/modules/baroid/baroid-values/baroid-conversion-values.js"></script>

</head>

<body>
<ion-nav-bar class="bar-assertive" id="baroid-nav-bar">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view></ion-nav-view>

<script id="baroid-home.html" type="text/ng-template">
    <ion-view view-title="Options" class="stable-bg">
        <ion-content class="content has-header dark-bg">
                <div class="padding" ng-repeat="category in optionCategories">
                    <h1 class="title-text">{{category.title}}</h1>
                    <h3 class="title-text-subtitle">{{category.description}}</h3>
                </div>

            <div style="padding-left: 20px;padding-right: 20px" ng-repeat="category in optionCategories">
                <div ng-repeat="button in category.buttons">
                    <button id="button{{button.code}}"
                            class="button button-block baroid-rough-text"
                            ng-click="buttonClicked(button, $event)">{{button.name}}
                    </button>
                </div>
            </div>

        </ion-content>
    </ion-view>
</script>

</body>
</html>