ng-click="$parent.newBoreLog()"
         section.content
            header(onclick="over(this)", onmouseout="unZoom(this)")
               h1.category Browse Files
            article
               p.hiddenDescription Choose from the file types below
               button#boreLogFiles(onmouseover="moveBackward(this)", onmouseout="moveForward(this)") Logs
               button#boreJournalFiles(onmouseover="moveBackward(this)", onmouseout="moveForward(this)") Journals
               button#pdfFiles(onmouseover="moveBackward(this)", onmouseout="moveForward(this)") PDFs